.footer {
  background: #111;
  color: #ddd;
  transition: var(--transition);
}

.footer-link {
  color: #ccc;
  text-decoration: none;
  transition: var(--transition);
}

.footer-link:hover {
  color: #fff;
  padding-left: 4px;
}

.social-icons a {
  color: #ccc;
  margin-right: 12px;
  font-size: 1.3rem;
  transition: var(--transition);
}

.social-icons a:hover {
  color:var(--primary-gradient);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .social-icons {
    justify-content: center;
  }
}
