<div class="exam-wrapper">
    <div class="exam-header">
        <h2>🧠 Exam</h2>
        <p>Questions: {{ questions.length }} | Time: {{ this.examData?.data?.newExam?.time / (1000 * 60) }} m
        </p>
    </div>

    <div >
        @if(questions && questions.length > 0) {
            @for(q of questions; track $index; let i = $index) {
                <div class="question-card">
                    <p class="question-text">{{ i + 1 }}. {{ q.description }}</p>
                    <div class="choices">
                        @for(choice of q?.choices; track $index) {
                            <label class="choice" [class.selected]="userAnswers[i] === choice" (click)="selectAnswer(i, choice)">
                                <input type="radio" name="question{{ i }}" [value]="choice" [checked]="userAnswers[i] === choice" />
                                {{ choice }}
                            </label>
                        }
                    </div>
                </div>
            }
        }

        <button type="submit" class="submit-btn btn bg-gradient-primary" (click)="submitExam()">Submit Exam</button>
    </div>
</div>
