<div class="signup-wrapper">
    <div class="signup-card">
        <h2>Create Account ✨</h2>
        <p>Join us and start your journey today!</p>

        <button class="google-btn" id="signin-google" aria-label="Sign in with Google" type="button"
            (click)="onGoogleAuth()">
            <!-- Google 'G' SVG -->
            <span class="g-icon" aria-hidden="true">
                <svg viewBox="0 0 48 48" width="20" height="20" xmlns="http://www.w3.org/2000/svg" role="img"
                    focusable="false">
                    <path fill="#EA4335"
                        d="M24 9.5c3.9 0 6.5 1.7 8 3.1l5.8-5.8C34.8 3.5 30.7 1.5 24 1.5 14.9 1.5 7.6 6.6 4 13.9l6.9 5.4C12.6 14.1 17.7 9.5 24 9.5z" />
                    <path fill="#4285F4"
                        d="M46.5 24.5c0-1.6-.2-2.7-.6-3.8H24v7.2h12.9c-.5 2.6-2.1 5-5.4 6.7l6.9 5.4c4.1-3.8 6.7-9.7 6.7-15.5z" />
                    <path fill="#FBBC05"
                        d="M10.9 29.3A14.8 14.8 0 0 1 10 24c0-1.3.2-2.6.6-3.8L3.7 14.8C1.3 18.6 0 22.9 0 27.8c0 4.9 1.3 9.2 3.7 13l7.2-11.5z" />
                    <path fill="#34A853"
                        d="M24 46.5c6.7 0 11.8-2 15.9-5.4l-7.5-5.9c-2 1.4-4.6 2.1-8.4 2.1-6.3 0-11.4-4.6-13.1-10.8L3.7 33.8C7.4 40 14.7 46.5 24 46.5z" />
                    <path fill="none" d="M0 0h48v48H0z" />
                </svg>
            </span>

            <span>Sign up with Google</span>
        </button>
        <br>

        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" id="name" formControlName="name" placeholder="John Doe" required />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" placeholder="you@example.com" required />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" placeholder="Enter your password"
                    required />
            </div>

            <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
        </form>

        <p class="login-text">
            Already have an account? <a class="login-btn" routerLink="/login">Login</a>
        </p>

        @if(errMsg) {
        <p class="error">{{ errMsg }}</p>
        }
        @else if (successMsg) {
        <div class="checkmark-container">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="checkmark-circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark-check" fill="none" d="M14 27l7 7 16-16" />
            </svg>
        </div>
        <p class="success">{{ successMsg }}</p>
        }

    </div>
</div>
